@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

.cover-background {
  background-image: url("emblem.jpg");
  background-repeat: no-repeat;
  background-position: center; 
}

.cover {
  margin: 2em 0 1em;
  text-align: center;
  font-size: 28px;
  padding: 0;
  line-height: 0;
  position: relative;
  color: var(--clash-yellow);
  text-shadow: 4px 4px 10px var(--clash-blue);
}

.cover .pretitle {
  padding-bottom: 2.7em;
  font-family: Pacifico, cursive;
  font-style: italic;
  font-size: 0.8em;
}

.cover .main-front {
  font-size: 3em;
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 600;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.cover .main-back {
  font-size: 2.2em;
  opacity: 30%;
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 600;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.cover .subtitle {
  padding-top: 1em;
  font-size: 2.2em;
  text-transform: uppercase;
  font-family: var(--display-font);
  font-weight: 600;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

/* define color scheme */
:root {
  --primary-light-color: #ffffff;
  --primary-dark-color: #3a3a3a;
  --accent-hue-base-value: 322;
  
}

:root {
  --accent-hue-value: var(--accent-hue-base-value);
  --text-color: var(--primary-dark-color);
  --background-color: var(--primary-light-color);
  --accent-color: hsl(calc(var(--accent-hue-value)), 80%, 45%);
  --card-color: hsl(calc(var(--accent-hue-value)), 60%, 90%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-hue-value: calc(var(--accent-hue-base-value) - 180);
    --text-color: var(--primary-light-color);
    --background-color: var(--primary-dark-color);
    --accent-color: hsl(var(--accent-hue-value), 80%, 75%);
    --card-color: hsl(var(--accent-hue-value), 20%, 40%);
  }
}

